html{
    font-family: sans-serif;
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.8rem;
}
.container{
    width: 120rem;
    margin: 6.4rem auto;
    justify-content: center;
    /* border: black solid; */
}
h1{
    font-size: 4.8rem;
    margin-bottom: 4.8rem;
    color: blueviolet;
}
.grid{
    display: grid;
}
.grid-3-cols{
    grid-template-columns: repeat(3, 1fr);
}
.projects{
    column-gap: 2.4rem;
    row-gap: 4.8rem;
}
a{
    text-decoration: none;
    color: white;

}
.project{
    background-color: #8a2be2;
    padding: 2.4rem;
    text-align: center;
    border-radius: 0.9rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0,0,0,0.2);
    transition: all 0.4s;
}
.project:hover{
    box-shadow: 0 0.6rem 1rem rgba(0,0,0,0.25);
    transform: translateY(-0.4rem);
}
@media (max-width: 38em) {
    html{
        font-size: 50%;
    }
    .projects{
        grid-template-columns: 1fr;
    }
    .container{
        width: 44rem;
    }
}
